.footer {
  display: flex;
  flex-flow: row wrap;
  color: var(--colour-white);
  border-top: 1px solid #e5e5e5;
  background: var(--colour-black);
  padding-block: calc(var(--padding) * 2) 0;
}

.footer .logo {
  font-family: var(--font-body);
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
  color: var(--colour-white);
}
.nav__logo {
  margin-bottom: var(--padding);
  img {
    max-height: 200px;
    object-fit: contain;
  }
}
.nav__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 31px;
  color: var(--colour-white);
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  background-color: var(--colour-white);
  color: var(--colour-black);
  font-weight: 700;
  line-height: 1;
  margin: var(--padding) 0.6em 0 0;
  font-size: 1rem;
  padding: .5em 1.3em;
  padding-right: .5em;
  transition: background-color 375ms ease-in-out;
  border-radius: 3px;
  &:hover {
    //background-color: var(--colour-grey-medium);
    background: #484848;
    color: var(--colour-white);
    svg path {
      fill: var(--colour-white);
    }
  }
  svg {
    margin-left: .5em;
  }
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 1 auto;
  margin-right: 1.25em;
}

.nav__content a:not(.footer__btn) {
  color: var(--colour-white);
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: var(--colour-white);
  justify-content: center;
  width: 100%;
  padding: var(--padding) 0;
}

.legal__links {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer__nav > * {
    flex: 1 1 30%;
    &.nav__logo {
      flex: 0 1 25%;
    }
  }
}